In [9]:
import torch
from torch import nn
import torch.nn.functional as F
from torchvision import datasets, transforms

In [6]:
from pathlib import Path
import pandas as pd

p = Path('data/')
data = pd.read_csv(p/'insurance2.csv')

In [7]:
len(data)

1338

In [8]:
data.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [16]:
X = data[data.columns[:-1]]
y = data[data.columns[-1]]
y.head()

0    1
1    1
2    0
3    0
4    1
Name: insuranceclaim, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model = nn.Sequential(nn.Linear(7, 7),
                     nn.ReLU(),
                     nn.Linear(7, 7),
                     nn.ReLU()
                     nn.Linear(7, 1))